*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
    text-decoration: none;
}

h3 {
    padding-bottom: 1em;
}

code {
    background-color: #e4d8d8;
    color: #d00a76;
    font-weight: 600;
    padding: 2px;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 3rem; 
    background-color: #f9c6cf;
    color: #2b292a;
}

header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

.blog, .gallery li {
    list-style: none;  
}

ol {
    margin: 2rem 1rem;
}

ol li {
    padding: 1rem;
}

.logo {
    width: 6em;
}

.menu {
    display: flex;
}

.menu a {
    margin-top: 6rem;
    margin-left: 1.5rem;
}

.menu a:hover {
    color: #ffffff;
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1.5rem;
}

.gallery {
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
}

.homeImg {
    margin-bottom: 3rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}