*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

h3 {
  padding-bottom: 1em;
}

code {
  background-color: #e7e7e7e7;
  color: #d00a76;
  font-weight: 600;
  padding: 2px;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 2rem ; 
  background-color: #ffffff;
  color: #2b292a;
}

header {
  margin: -2.5rem;
  padding: 2rem 2em;
  display: flex;
  background-color: #f9c6cf;
  justify-content: space-between;
  border-bottom: solid 3px; 
}

h1 {
  margin: 6rem 0 3rem 0;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

.blog, .gallery li {
  list-style: none;  
}

ol {
  margin: 2rem 1rem;
}

ol li {
  padding: 1rem;
}

.blog-title {
  text-align: center;
  margin-top: 0.5rem;
}

.logo {
  width: 10em;
}

.menu {
  display: flex;
}

.menu a {
  margin-top: 6rem;
  margin-left: 1.5rem;
}

.menu a:hover {
  color: #ffffff;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 2rem;
}

.gallery {
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.header-home { 
  height: 35rem;
  border-bottom: solid 5px; 
}

.logo-home img {
  width: 30rem;
  margin-top: 6rem;
  position: absolute;
}

.menu-home {
  text-align: right;
  list-style: none;
  font-size: 2em;
  margin-top: 20rem;
}

.menu-item {
  padding-bottom: 2rem;
}

.menu-item a:hover {
  text-decoration: line-through;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .blog {
    grid-template-columns: none;
  }

  .header-home {
    height: 43rem;
  }

  .gallery {
    width: 100%;
    padding: 2em 0;
  }
}