*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
    text-decoration: none;
}

h3 {
    padding-bottom: 1em;
}

code {
    background-color: #e4d8d8;
    color: #d00a76;
    font-weight: 600;
    padding: 2px;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 3rem ; 
    background-color: #ffffff;
    color: #2b292a;
}

header {
    margin: -3rem;
    padding: 2rem 3em;
    display: flex;
    background-color: #f9c6cf;
    justify-content: space-between;
    border-bottom: solid 3px; 
}

h1 {
    margin: 6rem 0 3rem 0;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

.blog, .gallery li {
    list-style: none;  
}

ol {
    margin: 2rem 1rem;
}

ol li {
    padding: 1rem;
}

li p {
    text-align: center;
    margin-top: 0.5rem;
}

.logo {
    width: 6.5em;
}

.menu {
    display: flex;
}

.menu a {
    margin-top: 6rem;
    margin-left: 1.5rem;
}

.menu a:hover {
    color: #ffffff;
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 2rem;
}

.gallery {
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.header-home { 
    height: 620px;
    border-bottom: solid 5px; 
}

.logo-home {
    width: 15rem;
}

.menu-home {
    text-align: right;
    list-style: none;
    font-size: 3rem;
    margin-top: 25rem;
}

.menu-item {
    padding-bottom: 2rem;
}

.menu-item a:hover {
    text-decoration: line-through;
    color: #ffffff;
}