*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

h3 {
  padding: 2em 0 1em;
}

code {
  background-color: #ffeff0;;
  color: #000;
  padding: 2px;
  font-family: monaco, Consolas, Lucida Console, monospace; 
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body { 
  background-color: #ffffff;
  color: #2b292a;
  font-family: "Mabry", sans-serif;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  margin: 6rem 0 2rem 6rem;
  display: flex;
  justify-content: start;
  font-weight: 300;
  letter-spacing: 0.25vw;
  font-family: 'Bebas Neue';
  color: #2b2b2b;
}

img {
  width: 100%;
}

ol {
  margin: 2rem 1rem;
}

ol li {
  padding: 1rem;
}

.logo span {
  width: 10em;
  font-size: 2em;
  letter-spacing: 0.25vw;
}

/* HEADER */

header {
  padding: 1rem 0;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

/* MENU */  

.nav {
  display: flex;
}

.nav a {
  font-family: Lato, helvetica, sans-serif;
  margin-top: 6rem;
  margin-left: 1.5rem;
  font-weight: 600;
}

.nav a:hover {
  color: rgb(238, 0, 0);
}

.nav li {
  list-style: none;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 3rem;
  padding: 6rem;
}

.blog-title {
  text-align: left;
  margin: 0.75em 0;
  padding-bottom: 0.25em;
  font-family: lato-light,Helvetica Neue,helvetica,arial,sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 0.11px;
}

.blog-title:hover {
  font-style: italic;
}

.blog-post {
  list-style: none; 
}

.tags a {
  display: block;
}

.gallery {
  list-style: none; 
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
}

.post {
  padding: 3rem 8rem;
}

/* HOME */

.wrapper {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: sliding-background 40s linear infinite;
  background: url("../images/berlin.jpg") no-repeat left/120%;
  height: 100vh;
  text-align: center;
  width: 100vw;
}
  
.title {
  font-family: 'Bebas Neue';
  color: white;
  font-size: 12vw;
  letter-spacing: 1vw;
  margin: 0;
  mix-blend-mode: lighten;
  text-transform: uppercase;
}
  
.title:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}
  
@keyframes sliding-background {
    0%,
    100% {
      background-position: 0 40%;
    }
    50% {
      background-position: 100% 40%;
    }
}

.logo-home {
  font-weight: 700;
  font-size: 12rem;
  font-family: 'Bebas Neue';
}

.menu-home {
  text-align: right;
  list-style: none;
  font-size: 2em;
  font-weight: 600;
  color: #ffffff;
}

.menu-item {
  padding-bottom: 2rem;
}

.menu-item a:hover {
  color: rgb(255, 255, 255, 0.5);
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  margin-left: 6rem;
}

.breadcrumb p:not(:last-child)::after {
  margin-left: -0.25em;
  padding: 6px;
  content: "/";
}

/* FOOTER */

.footer {
  display: block;
  margin: 3rem 2rem;
}

.socialmedia {
  display: flex;
  justify-content: center;
}

.socialmedia img {
  width: 2em;
  margin-right: 1em;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  text-align: center;
}

.menu__checkbox {
  display: none;
}

.tags {
  display: flex;
  justify-content: center;
  margin: 2rem;
  list-style: none;
}

.tag {
  margin: 1rem;
  border: solid 1px #2b292a;
  border-radius: 10px;
  text-align: center;
  width: 100px;
}

.btn {
  background-color: #2b292a;
  text-align: center;
  width: 100px;
  margin-right: 10px;
  color: #ffffff;
  border-radius: 10px;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
    h1 {
      margin: 4rem 2rem 3rem;
      font-size: 48px;
    }
    
    .blog {
      grid-template-columns: none;
      padding: 2rem;
    }

    .blog-title {
      font-size: 1.2em;
    }

    .breadcrumb { 
      display: none;
    }

    .post {
      padding: 2rem;
    }
  
    .gallery {
      width: 100%;
      padding: 2em 0;
    }
  
    header {
      padding: 1rem 2rem;
      margin: 0;
      align-items: start;
      display: block;
    }
  
    .home-wrapper {
      display: grid;
    }
  
    .menu-home {
      text-align: right;
      color: #ffffff;
      margin-top: 22rem;
      font-size: 1.5em;
    }
  
    .wrapper {
      background: url("../images/berlin.jpg") no-repeat left/350%;
    }
  
    .title {
      font-size: 3em;
      text-align: left;
      margin-top: -27rem;
}
    }

    /* HAMBURGER MOBILE */

    .nav {
        color: #ffffff;
        background-color: #ffffff;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        width: 100%;
        z-index: 3;
    }

    .nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .nav li a {
        color: #000;
        display: block;
        padding: 20px 20px;
        text-decoration: none;
    }

    .nav a {
        margin: 0;
        text-align: center;
    }

    .nav a:hover {
        color: #2b292a;
    }

    .nav {
        display: block;
    }

    .nav li a:hover,
    .nav li a:focus,
    .menu__checkbox:hover,
    .menu__checkbox:focus,
    :focus {
        background-color: #f4f4f4;
    }


    /* menu */

    .menu {
        display: none;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }


    /* menu icon */

    .menu__icon {
        cursor: pointer;
        display: block;
        float: right;
        padding: 0 20px;
        position: relative;
        user-select: none;
    }

    .hamburger {
        background: #333;
        display: block;
        height: 3px;
        position: relative;
        transition: background .2s ease-out;
        width: 30px;
        margin-top: -1.5rem;
    }

    .hamburger:before,
    .hamburger:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .5s ease-out;
        width: 100%;
    }

    .hamburger:before {
        top: 8px;
    }

    .hamburger:after {
        top: -8px;
    }


    /* menu checkbox */

    .menu__checkbox {
        opacity: 0;
    }

    .menu__checkbox:checked~.menu {
        max-height: 240px;
        display: block;
    }

    .menu__checkbox:focus~.menu__icon {
        outline: #5E9ED6 1px solid;
        background-color: #f4f4f4;
    }

    .menu__checkbox:checked~.menu__icon .hamburger {
        background: transparent;
    }

    .menu__checkbox:checked~.menu__icon .hamburger:before {
        transform: rotate(-225deg);
    }

    .menu__checkbox:checked~.menu__icon .hamburger:after {
        transform: rotate(225deg);
    }

    .menu__checkbox:checked~.menu__icon:not(.steps) .hamburger:before,
    .menu__checkbox:checked~.menu__icon:not(.steps) .hamburger:after {
        top: 0;
    }
}
